ul
	{list-style-type: none;
	margin: 0;
	padding-right: 50;
	width: 200px;
	background-color: grey;}

li a { 
	display: block;
	padding: 8px 16px;
	text-decoration: none;}

.classWithClass{
	font-style: italic;
}
body{
	background-image: url("aboutme.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	text-decoration: underline overline wavy black;
	font-size: 32px;
	font-weight:bold;
	color:white;
	text-align: center;
}
a:link {
	color: black;
}
a:visited {
	color: purple;
}
a:hover {
	color: darkgrey; background-color: black;
}
a:active {
	color: yellow;
}

.BigBoy{
	font-weight: bold;
	font-style: italic;
}
.paragraphA{
	border-bottom: 6px solid red;
	background-color: grey;
	text-align: center;
	margin-left:228px;
	padding:20px;
	border-radius:5px;
}
.paragraphB{
	border-bottom: 6px solid red;
	background-color: grey;
	text-align: center;
	padding:20px; 
	border-radius:5px;
}
.smoothMove{
	position: relative;
	animation-name: mymove;
	animation-duration: 3s;
}
@keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px;}
  100% {top: 100px;}
}